$colorContainer: linear-gradient(206deg, #fff1f1 0%, #7fc1f5 179.25%);
$colorBttn: linear-gradient(44deg, #f3b608 0%, #8fd3f4 116%);
$colorSelect: linear-gradient(44deg, #ede6eb -5%, #229ED4 179.25%);
$colorLi: rgba(0, 0, 0, 0.1);